.footer {
    background-color: #F6F6F6;
    padding: 110px 0 120px;
    text-align: center;
    
    &__subtitle {
        line-height: 1rem;
        font-size: 0.9rem;
        color: #828282;
        padding-top: 45px;
    }
}

.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 85px;

    & .button {
        font-family:"Roboto-Bold";
        color: white;
        background-color: #000;
        border-radius: 28px;
        padding: 14px 29px;
    }
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;    

    &__item {
        display: block;
        aspect-ratio: 1/1;
        width: 5%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        & + & {
            margin-left: 70px;
        }


        &_email {
            background-image: $email_logo;
        }

        &_inst {
            background-image: $inst_logo;
        }

        &_tg {
            background-image: $tg_logo;
        }

        &_fb {
            background-image: $facebook_logo;

        }
    }
}

@media only screen and (max-width: 420px) {
    .buttonContainer{
        padding: 40px 30px 50px;
        .button{
            width: 100%;
        }
    }
    .icons{
        justify-content: space-between;
        width: 100%;
        padding: 50px 30px;
        &__item{
            width: 40px;
            & + & {
                margin: 0;
            }
        }
    }
}