.header {
   
    // .header__menu

    &__menu {
        min-height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: solid 1px black;
        
    }

    // .header__menuItem

    &__menuItem {
        color: #000;
    }
}

@media only screen and (max-width: 420px) {
    .header {
     display: none;
    }
 }